<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="px-4 py-6 flex flex-col items-center justify-center gap-10" hx-ext="response-targets, json-enc, client-side-templates">
        <script src="./htmx.min.js"></script>
        <script src="https://unpkg.com/htmx-ext-json-enc@2.0.0/json-enc.js"></script>
        <script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            document.addEventListener('htmx:afterRequest', e => {
                const code = e.detail.xhr.status.toString()
                let errorBannerWrap = document.getElementById("modal-wrap");
                let errorBanner = document.getElementById("modal");
                let res = document.getElementById("result")
                if (!code.startsWith('2')) {
                    res.style = "display: none"
                    errorBanner.innerHTML = `<div class="bg-red-500 px-4 py-3 rounded-t-xl flex justify-between">
                                                <h1 class="text-2xl">Error!</h1>
                                                <button onclick='document.getElementById("modal-wrap").style = "display: none"' class="max-w-7 border-0 p-0">X</button>
                                            </div>
                                            <div class="bg-white p-4 rounded-b-xl">
                                                <h1 class="text-xl">Reservation failed!</h1>
                                              <p>${JSON.parse(e.detail.xhr.responseText)["shortDescription"]}</p>
                                            </div>`
                    errorBannerWrap.style.display = 'flex';
                }
                else{
                    errorBannerWrap.style = "display: none"
                    res.style = "display: block"

                }
            });
        </script>
        <h1 class="text-5xl">Reservation Service</h1>
        <div id="content" class="w-full h-full">
            <div class="w-full flex justify-center gap-6">
                <button hx-get="./reservForm.html" hx-target="#content">Make a Reservation</button>
                <button hx-get="./reservationInfo.html" hx-target="#content">Get Reservation</button>
            </div>
        </div>
    </body>
</html>